.snake{
	position: absolute;
	width: 20px;
	height: 20px;
	border-width: 1px ;
	border-color: #ff2b00;
	border-style: solid;
	border-radius:0;
	background-color: #ff9f00;
	padding: 0px;
}
#snake_0{
	top: 200px;
	left: 260px;
	background-color: #ff5c00;
}
#snake_1{
	top: 200px;
	left: 240px;
}
#snake_2{
	top: 200px;
	left: 220px;
}

.food{
	position: absolute;
	width: 20px;
	height: 20px;
/*	background-color: #f80; */
	background-image: url('img/food.png') ; 
	background-repeat:no-repeat;
	background-position:left top;
}

#food_0{
	top: 200px;
	left: 400px;
}

.blue{
	border-color: #0000b0;
	background-color: #00f;
}
.blue1{
	border-width: 0;
	background-image: url('img/snake.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.green{
	border-color: #00b000;
	background-color: #0f0;
}
.green1{
	border-width: 0;
	background-image: url('img/snake.png');
	background-repeat: no-repeat;
	background-position: -20px 0;
}

.orange{
	border-color: #ff2b00;
	background-color: #ff5c00;
}
.orange1{
	border-width: 0;
	background-image: url('img/snake.png');
	background-repeat: no-repeat;
	background-position: 0 -20px;
}
